<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <% if @error_comment.present? %>
      <div id="error_explanation">
      <h2><%= @error_comment.errors.count %></h2>
      <ul>
        <% @error_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <table class='table'>
      <h2>
        User info
      </h2>
      <tr>
      <%= attachment_image_tag @user,:profile_image,fallback: " ", size: "100x100" %>
      </tr>
      <tr>
        <th>
          name
        </th>
        <th>
          <%= @user.name %>
        </th>
      </tr>
      <tr>
        <th>
          introduction
        </th>
        <th>
          <%= @user.introduction %>
        </th>
      </tr>
      </table>
      <div class='row'>
       <%= link_to '',edit_user_path(@user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user" %>
      </div>
      <h2 class="mt-3">New book</h2>
      <td class="form">
      <%= form_with model: @newbook, local:true do |f| %>
      <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control book_title' %>
      </div>
      <div class="form-group">
      <%= f.label :opinion %>
      <%= f.text_area :body, class: 'form-control book_body' %>
      </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-success' %>
  </div>
      <% end %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
  		    <td><%= link_to user_path(@book.user) do %>
            <%= attachment_image_tag(@book.user, :profile_image, :fill, 100, 100, fallback: "no-image-icon.jpg") %><br>
            <%= @book.user.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title, book_path(@book) %></td>
          <td>
            <%= @book.body %>
          </td>
          <td>
            <% if @book.user.id == current_user.id %>
              <%= link_to "Edit", edit_book_path(@book), class: "btn btn-success btn-block" %>
              </td>
              <td>
               <%= link_to "Destroy", book_path(@book.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger btn-block"  %>
              </td>
            <% end %>
          <% if current_user.favorited_by?(@book.id) %>
           <td>
            <%= link_to " ", destroy_favorite_path(@book), method: :DELETE, remote: true, class: "fas fa-heart delete-btn" %>
            <td>
              <%= @book.favorites.count %>
            </td>
           </td>
          <% else %>
            <td>
            <%= link_to " ", create_favorite_path(@book), method: :POST, remote: true, class: "fas fa-heart like-btn" %>
            <td>
              <%= @book.favorites.count %>
            </td>
          <% end %>
          <td>
            コメント件数 <%= @comments.count %>
          </td>
          </tr>
        </tr>
        </table>
        <% @comments.each do |comment| %>
          <%= attachment_image_tag(@user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %><br>
          <%= comment.comment %>
          <% if @user.id == current_user.id %>
          <%= link_to "Destroy", comment_path(comment.book, comment), method: :delete, class: "btn-sm btn-danger" %><br>
          <% end %>
          <% end %>
        <div class="form-group">
          <%= form_with(model:[@book, @comment], local: true) do |f| %>
          <%= f.text_area :comment, :size=>"100x3",placeholder: " " %>
          <%= f.submit "送信する", class: "btn btn-success mb-4" %>
          <% end %>
        </div>
    </div>
  </div>
</div>